<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
   
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-segment scrollable>
      <ion-segment-button >
        <ion-card class="sliders" >
          <img src="/assets/bgs/livelogo.gif" class="logo">
          <ion-row >
            <ion-col>
                <h1 style="color: rgb(46, 142, 231);"> Covid-19 Updates </h1>
                <p> Designed By : Lokendra Singh </p>
            </ion-col>
          </ion-row>
          <ion-row class="card-footer">
            <ion-col>
                <p style="color: rgb(46, 142, 231);"> Swipe Right For More  </p>
            </ion-col>
        </ion-row>
        </ion-card>  
      </ion-segment-button>  

      <ion-segment-button routerLink="/page1">
        <ion-card class="sliders" style="background-image : url('/assets/bgs/p1.jpg');" >
          <img src="/assets/bgs/logo.png" class="logo">

          <ion-row >
            <ion-col>
                <h1 style="color: rgb(46, 142, 231);"> Global Summary </h1>
                <p> Worldwide Covid-19 Cases  </p>
            </ion-col>
          </ion-row>
          <ion-row class="card-footer">
            <ion-col>
                <p style="color: rgb(46, 142, 231);"> Click For Summary  </p>
            </ion-col>
        </ion-row>
        </ion-card>  
      </ion-segment-button>

      <ion-segment-button routerLink="/page2">
        <ion-card class="sliders" style="background-image : url('/assets/bgs/p2.jpg');" >
          <img src="/assets/bgs/logo.png" class="logo">

          <ion-row >
            <ion-col>
                <h1 style="color: rgb(46, 142, 231);"> Country Search </h1>
                <p> Country-wise Data </p>
            </ion-col>
          </ion-row>
          <ion-row class="card-footer">
            <ion-col>
                <p style="color: rgb(46, 142, 231);"> Click For Summary  </p>
            </ion-col>
        </ion-row>
        </ion-card>  
      </ion-segment-button>
      
      <ion-segment-button routerLink="/page3">
        <ion-card class="sliders" style="background-image : url('/assets/bgs/p3.jpg');" >
          <img src="/assets/bgs/logo.png" class="logo">

          <ion-row >
            <ion-col>
                <h1 style="color: rgb(46, 142, 231);"> India </h1>
                <p> Covid-19 in India  </p>
            </ion-col>
          </ion-row>
          <ion-row class="card-footer">
            <ion-col>
                <p style="color: rgb(46, 142, 231);"> Click For Summary  </p>
            </ion-col>
        </ion-row>
        </ion-card>  
      </ion-segment-button>
      
      <ion-segment-button routerLink="/page4">
        <ion-card class="sliders" style="background-image : url('/assets/bgs/p4.jpg');" >
          <img src="/assets/bgs/logo.png" class="logo">

          <ion-row >
            <ion-col>
                <h1 style="color: rgb(46, 142, 231);"> Covid 19 News </h1>
                <p> Top Headlines  </p>
            </ion-col>
          </ion-row>
          <ion-row class="card-footer">
            <ion-col>
                <p style="color: rgb(46, 142, 231);"> Click For Headlines  </p>
            </ion-col>
        </ion-row>
        </ion-card>  
      </ion-segment-button>
      
      <ion-segment-button routerLink="/page5">
        <ion-card class="sliders" style="background-image : url('/assets/bgs/p5.jpg');"  >
          <img src="/assets/bgs/logo.png" class="logo">

          <ion-row >
            <ion-col>
                <h1 style="color: rgb(46, 142, 231);"> Covid-19 Safety </h1>
                <p> Safety and gudelines  </p>
            </ion-col>
          </ion-row>
          <ion-row class="card-footer">
            <ion-col>
                <p style="color: rgb(46, 142, 231);"> Click For Gudelines  </p>
            </ion-col>
        </ion-row>
        </ion-card>  
      </ion-segment-button>
      
    </ion-segment>
</ion-content>
